@import url('https://fonts.googleapis.com/css2?family=Mali');
* {
	box-sizing: border-box;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
          -o-animation: fadein 1.5s; /* Opera < 12.1 */
              animation: fadein 1.5s;
}
body {
  margin: 0;
  font-family: 'Mali',sans-serif;
}

/* .content {
  padding: 20px;
  margin-top: -400px;
  z-index: 9999;
  padding: 20px 15px;
  position: relative;
  border: 0;
  z-index: 1;
} */

.header {
  margin: 0 15px;
  padding: 15px;
  border: 1px solid #f1ebf3;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  
}
.header a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #1203e7;
}

.header .active {
  color: #cfcece;
}
.rightbar{
  float: right;
}
.login{
  max-width: 380px;
  align-items: center;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 10%;
}
.login h1{
  text-align: center;
}

.login input{
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  	font-family: 'Mali',sans-serif;
}
.login a{
	display: block;
	text-align: right;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.login button{
	box-shadow: 0px 10px 14px -7px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:8px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
	font-family: 'Mali',sans-serif;
	margin: 0 auto;
}
.login button:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.login button:active {
	position:relative;
	top:1px;
}
.social{
	display: block;
	align-items: center;
	margin: 0 auto;
}
.login .social{
	display: inline-block;
	border: 2px solid black;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 10%;
}
.login .social:hover{
	background-color: blueviolet;
}
.card {
  display: inline-block;
  width:280px;
  /* display: block; */
  padding: 20px;
  margin: 60px 30px;
  transition: .25s;
}

.card:hover {
  cursor: pointer;
}

.button-primary:hover {
  transform: translate(10px, 0);
}

.card-header {
  display: block;
  height: 150px;
  width: 100%;
  padding: 30px;
  width:100%;
  background-size:cover;
  color:rgb(235, 4, 4);
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
  white-space: normal;
}

.card-body h2{
  font-size: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: blue;
  font-size: 15px;
  transition:.25s;
}

.button-primary i {
  padding-right:4px;
}

.designer-link {
  display:inline-block;
  padding-top:40px;
}

.container{
  background-color:white;
  border-radius: 8px;
}

.homehead{
  background: rgb(50,3,108);
  background: linear-gradient(180deg, rgba(50,3,108,1) 89%, rgba(255,255,255,1) 10%);
  height: 700px;
  display: inline;
}

.banner{
  display: block;
  margin: 0 auto;
  /* padding: 15px; */
}
.ContainerCard{
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.Tarot-size{
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  padding: 5px;
  
}
.Main-backCard{
  display: block;
  margin: 0 auto;
  border: 10px solid black;

}
/*animation*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

