@import url('https://fonts.googleapis.com/css2?family=Mali');
/* #2E0048 */
* {
	box-sizing: border-box;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
          -o-animation: fadein 1.5s; /* Opera < 12.1 */
              animation: fadein 1.5s;
}
body {
  margin: 0;
  font-family: 'Mali',sans-serif;
  
}

/* .content {
  padding: 20px;
  margin-top: -400px;
  z-index: 9999;
  padding: 20px 15px;
  position: relative;
  border: 0;
  z-index: 1;
} */

.header {
  margin: 0 15px;
  padding: 15px;
  /* border: 1px solid #f1ebf3; */
  background-color: #2E0048;
  border-radius: 15px;
  
  
}
.header a {
  color: rgb(252, 250, 250);
  font-size: 14px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
  
}
.header a:hover {
  color: #eafa09;
}

.header .active {
  color: #fa4646;
}
.rightbar{
  float: right;
}
.leftbar{
  float: left;
}
.login{
  max-width: 380px;
  align-items: center;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #2E0048;
  margin-top: 10%;
  border-radius: 30px;
}
.login h1{
  text-align: center;
  color: #ffffff;
}

.login input{
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-family: 'Mali',sans-serif;
}
.login a{
	display: block;
	text-align: right;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.login a i{
  padding: 10px;
}
.login button{
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:8px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	font-family: 'Mali',sans-serif;
	margin: 0 auto;
}
.login button:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.login button:active {
	position:relative;
	top:1px;
}
/* .social{
	border: 3px solid white;
  background: white;
  /* border-radius: 20px; */
  /* width: 40px;
} */
.social-container{
  display: flex;
	list-style-type: none;
  justify-content: center;
}
.social-container i{
  color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-container i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
  font-weight: 400;
}

.fa-facebook-f {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-google {
	background:#f81717
}

.social-container i:hover {
	opacity: .7;
	border-radius: 0;
}

.card {
  width:280px;
  padding: 5px;
  transition: .25s;
  margin: 2% 5%;
  display: inline-block;
  justify-content: center;
  
}

.card:hover {
  cursor: pointer;
}

.button-primary:hover {
  transform: translate(10px, 0);
}

.card-header {
  display: block;
  height: 150px;
  width: 100%;
  padding: 30px;
  width:100%;
  background-size:cover;
  color:rgb(235, 4, 4);
  justify-items: center;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
  white-space: normal;
  justify-items: center;
}

.card-body h2{
  font-size: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: #2E0048;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: #2E0048;
  font-size: 15px;
  transition:.25s;
}

.button-primary i {
  padding-right:4px;
}

/* .container{
  background-color:rgb(180, 22, 22);
  border-radius: 8px;
} */

.banner{
  display: block;
  margin: 0 auto;
  padding: 15px;
  max-width: 100%;
  height: auto;
}
.ContainerCard{
  border: 5px solid #2E0048;
  border-radius: 20px;
  background: #2E0048;
  width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
}
.ContainerCard h1{
  text-align: center;
  color: #ffffff;
}
.center{
  margin-left: auto;
  margin-right: auto;
  
}
.logo{
  width: 40px;
  height: auto;
  background: white;
  border-radius: 30px;
}
/*animation*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

